<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light navigation">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/images/logo.png" alt="" style="width: 150px;height: 150px;">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto main-nav ">
                            <li class="nav-item active">
                                <a class="nav-link" routerLink="/home">Home</a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link" routerLink="/dashboard">Dashboard</a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link" routerLink="/tracker">Corona Tracker</a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link" routerLink="/aboutUs">About Us</a>
                            </li>


                        </ul>
                        <ul class="navbar-nav ml-auto mt-10">
                            <li class="nav-item">
                                <a class="nav-link login-button" routerLink="/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white add-button" routerLink="/create_post"><i class="fa fa-plus-circle"></i> Add Listing</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>