<!--============================
=            Footer            =
=============================-->

<footer style="padding: 1%;" class="footer section section-sm">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0">
                <!-- About -->
                <div class="block about">
                    <!-- footer logo -->
                    <h4>Our Aim</h4>
                    <!-- description -->
                    <p class="alt-color">To assist health workers and common population working and surviving under challenging conditions to bring this outbreak to a close, The aidDiscover has created a Resource Centre. This is brings us all together against new 2019 novel
                        coronavirus disease (COVID-19) </p>
                </div>
            </div>
            <!-- Link list -->
            <div class="col-lg-2 offset-lg-1 col-md-3">
                <div class="block">
                    <h4>Govt Apps</h4>
                    <ul>
                        <li><a href="https://play.google.com/store/apps/details?id=nic.goi.aarogyasetu&hl=en_IN">Arogya Setu App</a></li>
                        <li><a href="https://www.unicef.org/coronavirus/covid-19">UNICEF</a></li>
                        <li><a href="https://www.pmcare.com.my/">PM Care</a></li>

                    </ul>
                </div>
            </div>
            <!-- Link list -->
            <div class="col-lg-2 col-md-3 offset-md-1 offset-lg-0">
                <div class="block">
                    <h4>Health Orgs </h4>
                    <ul>
                        <li><a href="https://www.mygov.in/covid-19/">My Govt</a></li>
                        <li><a href="https://www.mohfw.gov.in/">Health Ministry of India</a></li>
                        <li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">WHO</a></li>

                    </ul>
                </div>
            </div>
            <!-- Promotion -->
            <div class="col-lg-4 col-md-7">
                <!-- App promotion -->



                <!-- Icon -->
                <img src="assets/images/logo.png" style="width: 150px;height:150px;" alt="mobile-icon">



            </div>
        </div>
    </div>
    <!-- Container End -->
</footer>
<!-- Footer Bottom -->
<footer class="footer-bottom">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 offset-sm-4 col-12">
                <!-- Copyright -->
                <div class="copyright">
                    <p>Copyright ©
                        <script>
                            var CurrentYear = new Date().getFullYear()
                            document.write(CurrentYear)
                        </script>. Made with ❤️ by Team Aviato</p>
                </div>
            </div>
        </div>
    </div>
</footer>